*{margin:0;
padding:0;}
 body{
   width:70%;
margin:auto;
font-size:1.3em;
  padding-top:60px;
background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url(images/head.png);
background-attachment:fixed;
background-repeat: no-repeat;
background-size: cover;
 }

.head{ width:100%;  
   ;}
   .resume{margin:20px}
main{padding: 60px 20px;
   background-color: antiquewhite;}
figure{float:right;
   clear: right;
}
figcaption{font-style: italic;
width:100%;}
table, th, td{border:1px solid black}
h1{font-size:32px;}
h1,h2,h3{font-family: sans-serif;
margin-top: 1.5em;}
img{border:3px solid black}

figure.right{width:14em}
figure>img{width:100%}
